*{
  box-sizing: border-box;
}

body{
  background: black;
  margin: 0;
  color: white;
  margin: 0px;
  font-family: 'Roboto Mono', monospace;
  font-size: 20px;
  line-height: 1.25;
}

.header {
  margin: 0;
}

img{
  /* max-width: 50%; */
  display: flex;
  flex-direction: row;
  margin-left: auto;
  margin-right: auto;
  padding: 5px;
}

.floattext {
  z-index: 3;
  padding-right: 800px;
  position: relative;
  font-size: 18px;
  padding-left: 20px;
}

section.content {
  z-index: -1;
  text-align: left;
  margin-top: 32px;
  padding-right: 1300px;
  padding-left: 50px;
  list-style-type: none;
  position: fixed;
}

mark.pink{
  background-color: fuschia;
}

mark.DeepSkyBlue{
  background-color: DeepSkyBlue;
}


.images{
  z-index: 4;
}

.video{
  z-index: 7;
  text-align: left;
  /* margin-top: 180px;
  margin-right: 50px;
  margin-left: 1300px; */
  position: fixed;
  display: inline-block;
  overflow: visible;
  padding-left: 50px;
  padding-top: 640px

}

.scroll{
  height: 650px;
  width: 340px;
  z-index: -2;
  text-align: left;
  margin-top: 0;
  margin-right: 50px;
  margin-left: 1300px;
  position: fixed;
  display: block;
  overflow: visible;
}

.scroll-text{
    height: 100%;
    /* animation properties */
    -moz-transform: translateY(100%);
    -webkit-transform: translateY(100%);
    transform: translateY(100%);
    -moz-animation: my-animation 40s linear infinite;
    -webkit-animation: my-animation 40s linear infinite;
    animation: my-animation 40s linear infinite;
    animation-delay:-5s;
    animation-play-state: running;
}
@-moz-keyframes my-animation {
  from { -moz-transform: translateY(100%); }
  to { -moz-transform: translateY(-200%); }
}

/* for Chrome */
@-webkit-keyframes my-animation {
  from { -webkit-transform: translateY(100%); }
  to { -webkit-transform: translateY(-200%); }
}

@keyframes my-animation {
  from {
    -moz-transform: translateY(100%);
    -webkit-transform: translateY(100%);
    transform: translateY(100%);
  }
  to {
    -moz-transform: translateY(-200%);
    -webkit-transform: translateY(-200%);
    transform: translateY(-200%);
  }
}
